<ng-template #contentDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">View Car</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="carId">Id: </label>
                <div class="input-group">
                    <input id="carId" class="form-control" [attr.disabled]="carDetails.id">
                </div>
            </div>

            <div class="form-group">
                <label for="carMark">Mark: </label>
                <div class="input-group">
                    <input id="carMark" class="form-control" [attr.disabled]="carDetails.mark">
                </div>
            </div>

            <div class="form-group">
                <label for="carColor">Color: </label>
                <div class="input-group">
                    <input id="carColor" class="form-control" [attr.disabled]="carDetails.color">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<button class="btn btn-sm btn-info m-1" (click)="openDetails(contentDetails)">
    <i class="fa fa-search"></i>Details
</button>
